<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  {{/* you can add more head tags like css links here */}}
</head>
<body>
  <header>
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    <nav>
      <ul>
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      </ul>
    </nav>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    <p>&copy; {{ now.Year }} {{ .Site.Title }}</p>
  </footer>
</body>
</html>