{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{ .Content }}
    </section>

    <div class="flex-l">
      <!-- Posts section -->
      <section class="flex-auto flex-wrap justify-around mt5 ph3 ph5-l" id="posts-container">
        {{ $pages := .Pages.ByDate.Reverse }}
        {{ range $pages }}
          {{ $tagNames := slice }}
          {{ range .GetTerms "tags" }}
            {{ $tagNames = $tagNames | append .Name }}
          {{ end }}
          <div class="relative w-100 w-45-l mb4 bg-white post-item" data-tags="{{ delimit $tagNames "," }}">
            {{ .Render "summary" }}
          </div>
        {{ end }}
      </section>

      <!-- Tags filter section on the right -->
      <aside class="w-25-l pl4-l mt5">
        <div class="sticky">
          <h3 class="f4 mb3">Filter by tag:</h3>
          {{ $tags := .Site.Taxonomies.tags }}
          {{ if $tags }}
            <div class="mb3">
              <button data-tag="all" class="link f6 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif bg-black white active-filter">
                All Posts
              </button>
            </div>
            {{ range $tags.ByCount }}
              <div class="mb2">
                <button data-tag="{{ .Name }}" class="link f6 grow no-underline br-pill ba ph3 pv2 dib black sans-serif filter-btn">
                  {{- .Name -}}
                </button>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </aside>
    </div>
  </article>
{{ end }}